@import 'theme';

.ff-chat-line {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  align-items: center;
  opacity: 1;
  padding: 5px;
  border-radius: 3px;

  .ff-chat-name {
    width: 10em;
    font-weight: bold;
    color: $c-blue-dark;
  }

  .ff-chat-item {
    font-weight: 400;
    flex-grow: 1;

    input[type='text'] {
      width: 100%;
    }
  }
}

.ff-chat-line.ff-bot {
 animation: new_item_indicator 1s;
 background-color: transparentize($c-blue-light, 0.9);
}

@keyframes new_item_indicator {
  from {
    background-color: transparentize($c-blue-light, 0.5);
  }
  to {
    background-color: transparentize($c-blue-light, 0.9);
  }
}

