$brand:#49baeb;
$brand-alt:#4d2e75;
$brand-text:#fff;


$body-bg:#fff;

$custom-font: "dialob-type";
$font:  $custom-font, Helvetica, Arial, sans-serif;

$font-size:18px;


$text:#000;
$link:$brand;

$border: #ececec;

$light-bg:#f6f9fc;


$error:#85144b;

$sidebar-width:340px;
$mobile:640px;

.box { zoom: 1; }
