@import 'theme';

.dialob-survey-container {
  margin-left: 1em;
}

.dialob-survey-header,
.dialob-survey-question {
  display: flex;
  div {
    padding-top: 4px;
    flex: 1;
  }
}

.dialob-survey-question-label {
  font-weight: bold;
}

 .dialob-survey-question-label {
  label.dialob-icon-required:after {
      color: $c-red-bright;
      margin-left: 0.2em;
      font-size: 0.8em;
      vertical-align: super;
  }
}

.dialob-survey-option {
  text-align: center;
}

.dialob-survey-vertical {
  display: flex;
  flex-direction: row;
  .dialob-survey-header,.dialob-survey-question {
    flex-direction: column;
  }
  .dialob-survey-question {
    flex: 1;
  }
  .dialob-survey-question-label {
    text-align: center;
  }
  .dialob-survey-header-label,
  .dialob-survey-question-label,
  .dialob-survey-option {
    margin-bottom: 0.5em;
  }
}

.dialob-survey-horizontal {
  display: flex;
  flex-direction: column;
  .dialob-survey-header,.dialob-survey-question {
    flex-direction: row;
    margin-bottom: 0.5em;
  }
  .dialob-survey-header {
    text-align: center;
  }
}

.dialob-survey-errors {
  border: 1px solid $c-red-bright;
  border-radius: 3px;
}
