
$dialob-form-bg: #fff !default;
$dialob-form-border: #49baeb !default;

$dialob-border: #49baeb !default;
$dialob-body-bg: #fff !default;


$dialob-text-color:#000 !default;
$dialob-font-size:14px !default;

$dialob-error:#FF4136;


$dialob-active-bg:darken(#49baeb, 20%) !default;


$dialob-w-mobile:640px !default;

$dialob-chat-bot:#481768;
$dialob-chat-user:#49baeb;
